<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>prescription</title>
  </head>
  <body>
    <div class="flex flex-col">
      <div>
        <div
          class="bg-green-500 text-white w-screen font-extrabold justify-center text-3xl hidden md:flex sm:hidden p-6"
        >
          Welcome To Digital Health Record Management System
        </div>
        <div
          class="bg-green-500 text-white w-screen font-extrabold justify-center text-3xl flex md:hidden sm:flex"
        >
          Welcome To DHRMS
        </div>
      </div>
      <div class="text-black flex flex-col items-center m-10">
        <div class="my-2">Your Unique Health ID : 123456789012</div>
        <div class="my-2">Your can you this ID and your password for login!!</div>
      </div>
      <button class="bg-purple-600 text-white font-bold rounded-lg p-2 m-10">Login</button>
    </div>
  </body>
</html>
